<html>
<body>
<div ng-app>
<label>ID:  </label> <input type="text" [(ng-model)]="id" name = id/>
<label>Name: </label><input type="text" [(ng-model)]="name" name = name/>
<label> Salary </label> <input type="number" [(ng-model)]="salary" name = salary/>
<label> Address </label> <input type="text" [(ng-model)]="address" name = address/>
 <input type="button" (click) = "register()"/>
</div>
</body>
</html>